<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Build Status</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="/static/builder.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="./">Build Status</a>
                </li>
                <li>
                    <a href="#" onclick="update();">Refresh</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="home-content">
        </div>

        <h1>Build Monitoring</h1>

        <div id="build-status">
        </div>

        <hr>

        <h1 class="secondary">Build History</h1>

        <div id="build-history">
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
    var window_focus = true;
    var was_building = false;
    var artifactshost = 'https://bootstrap.gig.tech/kernel/';

    var statuscolors = {
        'error': 'danger',
        'success': 'success',
        'building': 'info',
        'committing': 'info',
        'preparing': 'info',
        'initializing': 'info',
    };

    var statusmsg = {
        'error': 'build failed.',
        'success': 'build succeeded.',
        'building': 'building...',
        'committing': 'committing image...',
        'preparing': 'preparing the build.',
        'initializing': 'initializing the image.',
    };

    function refresh_status(data) {
        refresh(data, 'status');
    }

    function refresh_history(data) {
        refresh(data, 'history');
    }

    function refresh(data, type) {
        console.log(data);

        $("#build-" + type).empty();

        if(type == 'status') {
            if(Object.keys(data).length == 0) {
                var text = $('<h2>', {'class': 'text-success'});
                text.append($('<span>', {'class': 'glyphicon glyphicon-ok'}));
                text.append('<br>');
                text.append('Nothing do to right now, all build done.');

                $("#build-" + type).append(text);

                // build just finished, update history
                if(was_building)
                    update_history();

                return setTimeout(update_status, 2 * 60 * 1000);
            }

            // update 2 seconds
            setTimeout(update_status, 2 * 1000);
            was_building = true;
        }

        if(type == 'history') {
            if(Object.keys(data).length == 0) {
                var text = $('<h2>', {'class': 'text-success'});
                text.append($('<span>', {'class': 'glyphicon glyphicon-ok'}));
                text.append('<br>');
                text.append('No history right now.');

                $("#build-" + type).append(text);
                return setTimeout(update_history, 2 * 60 * 1000);
            }

            setTimeout(update_status, 30 * 1000);
        }

        var zindex = 0;
        for(var idx in data) {
            zindex++;

            var rootcommit = "";

            if(data[idx]['commits'].length > 0) {
                rootcommit = data[idx]['commits'][0]['id'].substr(0, 10);

            } else rootcommit = 'docker-' + data[idx]['docker'];

            var root = $('<div>', {'class': 'panel panel-' + statuscolors[data[idx]['status']]});
            var heading = $('<div>', {'class': 'panel-heading'});

            //
            // heading
            //
            var title = idx;
            title = ' <code>[' + rootcommit + ']</code> ' + title;

            // collapsed heading for history
            if(type == 'history') {
                var id = "panel-" + zindex + "-" + rootcommit
                var collapse = {
                    'role': "button",
                    'data-toggle': "collapse",
                    'href': "#" + id,
                    'aria-expanded': "false",
                    'aria-controls': id,
                };

                var lnk = $('<a>', collapse).html(data[idx]['name']);
                var code = $('<code>').html('[' + rootcommit + ']');

                var title = $('<div>').append(code).append(' ').append(lnk).html();
            }

            var when = new Date(data[idx]['started'] * 1000);
            heading.append($('<h3>', {'class': 'panel-title pull-left'}).html(title));
            heading.append($('<small>', {'class': 'pull-right'}).html(when));
            heading.append($('<div>', {'class': 'clearfix'}));
            root.append(heading);

            //
            // body
            //
            var id = (type == 'history') ? "panel-" + zindex + "-" + rootcommit : "";
            var clss = (type == 'history') ? "panel-body collapse" : "panel-body";

            var content = $('<div>', {'class': clss, 'id': id});

            var text = $('<p>').html('<strong>Status</strong>: ' + statusmsg[data[idx]['status']]);
            content.append(text);

            var text = $('<p>').html('<strong>Commits</strong>:');
            content.append(text);

            var list = $('<ul>');
            for(var i in data[idx]['commits']) {
                var commit = data[idx]['commits'][i];
                var commitid = commit['id'].substr(0, 10);

                var item = $('<li>').html(
                    '<code><a href="' + commit['url'] + '" target="_blank">' + commitid + '</a></code> ' +
                    '<code>' + commit['message'] + '</code>' +
                    '<small class="pull-right">' + commit['author']['name'] + '</small>'
                );

                list.append(item);
            }

            content.append(list);

            if(data[idx]['status'] == 'error') {
                var text = $('<p>').html('<strong>Error</strong>: ' + data[idx]['error'])
                content.append(text);
            }

            if(data[idx]['artifact']) {
                var lnk = $('<a>', {'href': artifactshost + data[idx]['artifact']}).html(data[idx]['artifact']);
                var text = $('<p>').html('<strong>Artifact</strong>: ');
                text.append($('<code>').append(lnk));

                content.append(text);
            }

            // compute execution time
            if(data[idx]['ended']) {
                var elapsed = ((data[idx]['ended'] - data[idx]['started']) / 60).toFixed(1);
                var text = $('<p>').html('<strong>Build time</strong>: ' + elapsed + ' minutes');
                content.append(text);

            } else {
                var elapsed = (((Date.now() / 1000) - data[idx]['started']) / 60).toFixed(1);
                var text = $('<p>').html('<strong>Build started</strong>: ' + elapsed + ' minutes ago');
                content.append(text);
            }

            // do not shot console if empty
            if(data[idx]['monitor']) {
                var logs = $('<pre>').html(data[idx]['monitor']);

                content.append($('<hr>'));
                content.append(logs);
            }

            root.append(content);

            $("#build-" + type).append(root);
        }
    }

    function update_status() {
        if(!window_focus)
            return;

        $.get('/build/status', refresh_status);
    }

    function update_history() {
        if(!window_focus)
            return;

        $.get('/build/history', refresh_history);
    }

    function update() {
        update_status();
        update_history();
    }

    $(document).ready(function() {
        update();
    });

    $(window).focus(function() {
        if(!window_focus) {
            window_focus = true;
            update();
        }

        window_focus = true;

    }).blur(function() {
        window_focus = false;
    });
    </script>
</body>
</html>
